.financial-accounting {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 26px;
    position: relative;
    width: 80%;
    margin: auto;
    /* top: 20%; */
  }
  
  .Financial-wrapper {
    align-self: stretch;
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 3vw;
    font-weight: 700;
    height: auto;
    display: flex;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
  }
  
  .rectangle1 {
    align-self: stretch;
    background-color: #f8f8f8;
    border-radius: 10px;
    height: 7px;
    position: relative;
    width: 100%;
  }
  